*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
.main{
  min-height: 100vh;
  background-color: #92A9BD;
}
.todo-section{
  background-color: rgba(220, 234, 248, 0.925);
  border-radius: 5px;
  box-shadow: 4px 5px 7px rgba(131, 141, 153, 0.925);
}
/* Styles for adding and removing items */
.deleted{
  border: 1px solid rgba(230, 138, 138, 0.432);
  border-radius: 5px;
  text-decoration: line-through;
  animation-name: deleteItem;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
.added{
  animation-name: addItem;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes deleteItem {
  from{
    transform: translate(0);
    opacity: 0.6;
  }
  to{
    transform: translate(-105%);
    opacity: 0;
  }
}
@keyframes addItem {
  from{
    transform: translateY(105%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}


/* Media Queries */
@media screen and (min-width: 768px){
  .todo-section{
    max-width: 75%;
  }
}

@media screen and (min-width: 992px){
  .todo-section{
    width: 50%;
  }
}
